.chat-side {
  background-color: #253141;
  width: 300px;
  float: left;
  .side-header {
    height: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    &__user-name {
      color: $main-color;
    }
  }
}

.user-menu {
  display: flex;
  &__edit-user {
    margin-left: 0.3rem;
  }
}

.fa.fa-edit {
  color: $main-color;
}
.fa.fa-cog {
  color: $main-color;
}

.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  box-sizing: border-box;
}

.group {
  margin-bottom: 40px;
  &__name {
    font-size: 15px;
    font-weight: bold;
    color: $main-color;
  }
  &__message {
    font-size: 11px;
    font-weight: bold;
    color: $main-color;
    margin-top: 5px;
  }
}
